.contact-div{
  height: 100vh;
  background-color: #03C9A9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
