.main-image {
  height: 100vh;
  background: url(/images/image1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px;
}

section {
  position: relative;
  z-index: 1;
  padding: 1em;
}

section:before {
  position: absolute;
  content:'';
}

section.about-div {
  background: #fffff0;
  text-align: center;
  padding: 15px;
  padding-bottom: 70px;
}

.project-div:before {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
}

section.project-div {
  background: #fffff0;
  padding-bottom: 70px;
}

.contact-div:before {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
}

section.contact-div {
  background: #fffff0;
}

.icon-seperator:before {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
}

section.icon-seperator {
  background: #2ECC71;
  height: 200px;
}


.about-div p {
  cursor: pointer;
}

.hr-style {
  width: 40px;
  border-top-width: 4px; 
}

.section-title {
  text-align: center;
}

.main-title-container {
  vertical-align: middle;
  margin: auto;
  margin-top: calc(100vh - 60vh);
  text-align: center;
  color: white;
}

.project-img {
  display: block;
  margin: auto; 
  height: 200px; 
  width: 220px;
  border-radius: 25px;
}

@media screen and (min-width: 450px){
  .project-img {
    width: 280px;
    height: 200px;
  }
}

@media screen and (min-width: 1280px){
  .project-img {
    width: 400px;
    height: 300px;
  }
}

.travel-img {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 90%;
  height: 256px;
}

.alex-img {
  display: block;
  margin: auto; 
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.sports-img {
  height: 100%;
  width: 80%;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.main-title-container p {
  cursor: pointer;
}

.project-text-container {
  text-align: center;
}

.rotate-pic {
  height: 150px;
  width: 150px;
  border-radius: 200px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  border-radius: 10px;
}

div.skillContainer {
  margin-bottom: 15px;
  text-align: center;
}

